@model IEnumerable<PMProjects.Models.PartAResource>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartA.ProposalTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecurringCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FundingSource)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartA.ProposalTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResourceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecurringCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FundingSource)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PartAResourceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PartAResourceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PartAResourceID })
        </td>
    </tr>
}

</table>
